<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SRE Library | Add Book</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <h1>Add New Book</h1>
    <form method="post" action="/library/save/" class="add-book-form">
      <div>
        <label for="book-name">Name </label>
        <input type="text" id="book-name" name="book-name" />
      </div>
      <div>
        <label for="book-author">Author </label>
        <input type="text" id="book-author" name="book-author" />
      </div>
      <div>
        <label for="book-desc">Description </label>
        <textarea name="book-desc" id="book-desc"></textarea>
      </div>
      <input type="submit" value="Add Book" />
    </form>
    <a href="/library/"><button>Back to Library</button></a>
    <a href="/"><button>Go to help page</button></a>
  </body>
</html>
