<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SRE Library</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <h1>Your Library</h1>
    <p>Your library is currently empty!</p>
    <a href="/library/add/"><button>Add a new book</button></a>
    <a href="/"><button>Go back to help page</button></a>
  </body>
</html>
