<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SRE Helper</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <h1>Welcome to SRE Helper</h1>
    <!-- <div>{{ res }}</div> -->
    <div class="menu">
      <h2>Pick an option</h2>
      <ol>
        <li>CPU Load</li>
        <li>Disk Load</li>
        <li>Network Load</li>
        <li>Memory Load</li>
      </ol>
    </div>
    <div class="btns">
      <form method="post" action="/advice">
        <select name="prompt-selection" id="prompt-selection">
          <option value="cpu">CPU Load</option>
          <option value="disk">Disk Load</option>
          <option value="network">Network Load</option>
          <option value="memory">Memory Load</option>
        </select>
        <input type="submit" value="generate" />
      </form>
    </div>
    <div class="books">
      <a href="/library"><button>View SRE Library</button></a>
    </div>
  </body>
</html>
